@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* Default styles for all screen sizes */
html {
    font-size: 1rem;
  }

body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the height of the body to 100vh to fill the viewport */
  background-image: url("assets/photo-1642019341061-f81d61659c62.avif");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Play', sans-serif;  
  }
  
button {
    padding: 0.3rem 0.8rem;
    color: white;
    background-color: black;
    border-radius: 0.8rem;
    box-shadow: 0px 0.0625rem 3.125rem rgba(0, 0, 0, 0.25);
    font-family: 'Play', sans-serif;  
  }

#generate-btn {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-family: 'Play', sans-serif;  
    font-size: 0.85rem;
  }
  
#text-container {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-family: 'Play', sans-serif;  
    font-size: 1.25rem;
    background-color: rgba(0,0,0,0.7);
    padding: 1rem;
    border-radius: 0.625rem;
  }

 h1.my-class {
    position: absolute;
    text-align: center;
    color: white;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    z-index: 2;
    font-weight: 400;
    font-family: 'Play', sans-serif; 
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 1rem; 
}
  
h2.my-class {
    position: absolute;
    text-align: center;
    color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.6rem;
    z-index: 1;
    font-weight: 400;
    font-family: 'Play', sans-serif;  
    background-color: rgba(0,0,0,0.4);
    padding: 0.9rem;
    border-radius: 1rem;
}

/* NavBar */
nav {
    z-index: 3;
}


/* End NavBar */

/* Rain Stuff */
.rain-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }



  @keyframes rain {
    0% {
      transform: translateY(-100px);
      filter: blur(0px);
    }
    100% {
      transform: translateY(1200px);
      filter: blur(5px);
    }
  }
  
  .raindrop {
    position: absolute;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.8) 50%, transparent 50%);
    background-size: 5px 5px;
    width: 5px;
    height: 20px;
    animation: rain 80s linear infinite;
    opacity: 0.5;
  }

  /* End of rain stuff */


  /* Media Queries */
  @media  (max-width: 1000px)  {
    /* Styles to apply when the screen width is 1000px or smaller */
    /* This is media query eliminates the icons in the navbar */
    #icon-phone {
        display: none;
    }

    #icon-question {
        display: none;
    }

    #icon-person {
        display: none;
    }

    #icon-cart {
        display: none;
    }

    .navbar-icons {
        display: none;
    }
  }

    /* h1 {
        top: 40%;
        left: 50%;
        font-size: 18px !important;
    } */

    /* h2 {
        top: 50%;
        left: 50%;
        font-size: 14px !important;
    } */
/* 
    #generate-btn {
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        font-family: 'Play', sans-serif !important;  
        font-size: 12px;
      } */

      /* #text-container {
        top: 70%;
        font-size: 20px !important;
        padding: 16px;
      } */


  /* @media (min-width: 389px) and (max-width: 450px) { */
    /* Styles to apply when the screen is 390x844px */
    /* This is the width of an iPhone 12 Pro */
    /* #icon-phone {
        display: none;
    }

    #icon-question {
        display: none;
    }

    #icon-person {
        display: none;
    }

    #icon-cart {
        display: none;
    }

    .navbar-icons {
        display: none;
    } */

    /* h1 {
        top: 30%;
        left: 50%;
        font-size: 25px !important;
    } */

    /* h2 {
        top: 40%;
        left: 50%;
        font-size: 16px !important;
    } */

    /* #generate-btn {
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        font-family: 'Play', sans-serif !important;  
        font-size: 16px;
      } */

      /* #text-container {
        top: 60%;
        font-size: 20px !important;
        padding: 16px;
      }  */

  /* } */

  /* @media (min-width: 451px) and  (max-width: 770px) { */
    /* Styles to apply when the screen is between 451px and 770px  */
    /* /* This is the width of an iPad Mini  */
    /* #icon-phone {
        display: none;
    } 

    #icon-question {
        display: none;
    }

    #icon-person {
        display: none;
    }

    #icon-cart {
        display: none;
    }

    .navbar-icons {
        display: none;
    } */

    /* h1 {
        top: 3%;
        left: 50%;
        font-size: 20px !important;
    } */

    /* h2 {
        top: 40%;
        left: 50%;
        font-size: 16px !important;
    } */

    /* #generate-btn {
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        font-family: 'Play', sans-serif !important;  
        font-size: 1.6rem;
      } */

      /* #text-container {
        top: 60%;
        font-size: 40px !important;
        padding: 16px;
      } */

  /* } */


  /* @media (max-width: 1024px) { */
    /* Styles to apply when the screen is 1024px or less */
    /* This is the width of most tablets in landscape orientation */
  /* } */

  /* @media (max-width: 1440px) { */
    /* Styles to apply when the screen is 1440px or less */
    /* This is the width of many laptops and desktop monitors */
  /* } */

  /* @media (max-width: 1920px) { */
    /* Styles to apply when the screen is 1920px or less */
    /* This is the width of larger desktop monitors and some gaming laptops */
  /* } */
  


  /* End media queries */